body {
  background-color: black;
}

.App {
  /* border-radius: 30%; */
  background-color: antiquewhite;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

